<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <connectionStrings>
        <add name="cn" connectionString="Server=DESKTOP-BVSNLKM; Database=DBDogs; Integrated Security=true; TrustServerCertificate=true;"/>
    </connectionStrings>
	
	<!--
	<appSettings>
		<add key="ParentTableName" value="Rasa"/>
		<add key="ChildTableName" value="Caine"/>
		<add key="ChildToParentID" value="rasa_id"/>
		<add key="ChildId" value="id"/>
		<add key="ChildNumberOfColumns" value="3"/>
		<add key="ChildColumnNames" value="nume, pret, data_nastere"/>
		<add key="ChildColumnTypes" value="string, float, datetime"/>
		<add key="ChildArr" value="@n, @p, @d"/>
		<add key="ChildInsertQUERY" value="INSERT INTO Caine (rasa_id, nume, pret, data_nastere, tata_id, mama_id, blana_id) 
                                        VALUES (@id, @n, @p, @d, -1, -1, 1);"/>
		<add key="ChildDeleteQUERY" value="DELETE FROM Caine WHERE id = @id;"/>
		<add key="ChildUpdateQUERY" value="UPDATE Caine SET nume = @n, data_nastere = @d, pret = @p 
                                        WHERE id = @id;"/>
	</appSettings>
	-->

	<appSettings>
		<add key="ParentTableName" value="Talie"/>
		<add key="ChildTableName" value="Hrana"/>
		<add key="ChildToParentID" value="talie_id"/>
		<add key="ChildId" value="id"/>
		<add key="ChildNumberOfColumns" value="4"/>
		<add key="ChildColumnNames" value="denumire, tip carne, nota calitate, varsta caine"/>
		<add key="ChildColumnTypes" value="string, string, int, string"/>
		<add key="ChildArr" value="@n, @tc, @nc, @v"/>
		<add key="ChildInsertQUERY" value="INSERT INTO Hrana (talie_id, denumire, carne, calitate, varsta) 
                                        VALUES (@id, @n, @tc, @nc, @v);"/>
		<add key="ChildDeleteQUERY" value="DELETE FROM Hrana WHERE id = @id;"/>
		<add key="ChildUpdateQUERY" value="UPDATE Hrana SET denumire = @n, carne = @tc, calitate = @nc, varsta = @v 
                                        WHERE id = @id;"/>
	</appSettings>
    
	<runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>